.PhotoPreview {
  cursor: pointer;
  position: relative;
  margin: 0.5em;

  height: 16em;
  width: 16em;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border: 0.2em solid white;
}

.PhotoPreviewDate {
  position: absolute;
  top: -1px;
  right: -1px;

  user-select: none;
  color: black;
  background-color: white;
  padding: 0.5em;
  border-radius: 0 0 0 0.5em;
}
