.PhotoFocus {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  padding: 2rem;
  box-sizing: border-box;

  background: rgba(0,0,0,0.9);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.PhotoFocusImage {
  flex: 1;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.PhotoFocusDescription {
  margin: 0 auto;
  margin-top: 2em;
  min-height: 18vh;
  max-width: 120vh;
  padding: 0 1em;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
