.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

header > * {
  margin: 0.5rem 2rem;
}

header h1 {
  flex-grow: 1;
}
